body {
    font-family: 'Verdana', sans-serif;
    color: #081135;
    background-color: #FEFDF1;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #081135;
    color: #F4F4F4;
    padding: 40px;
    display: flex;
    align-items:left;
    flex-direction: column;
    ;
  }
  
  .logo {
    width: 200px; 
    height: auto; 
  }
  .nav {
    color: #F4F4F4;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: flex-end; /
    gap: 10px;
  }
  

  .nav a {
    color: #F4F4F4;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #F4F4F4;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .nav a:hover {
    background-color: #F4F4F4;
    color: #081135;
  }
  
  h1 {
    color: #081135;
    text-align: left;
    font-size: 50px;
    margin-left: 200px;
  }

  h2 {
    color: #F4F4F4;
    text-align: center;
    font-size: 50px;
    
  }
  
  p {
    color: #081135;
    text-align: left;
    font-size: 20px;
    margin-left: 200px;
  }
  
  .contatti {
    color: #F4F4F4;
    text-align: left;
    font-size: 20px;
  }
  
  .chisono {
    text-align: justify;
  }
  
  .container { 
    width: 30%; 
    margin-right: 80px ; 
    left: 20px; 
    text-align:justify left;
  }

  

  .contacts-section {
    background-color: #D3D3D3;
    padding: 20px;
    text-align: left;
  }
  
  .contacts-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .contacts-container h2 {
    color: #081135;
    font-size: 35px;
  }
  
  .contacts-container p {
    font-size: 18px;
  }
  

  footer {
    background-color: #081135;
    padding: 10px 0;
    text-align: left;
  }
  
  .footer {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff; 
  }
  
  .footer p {
    margin-left: 5px;
    padding-left: 10px;
    color: #fff; 
    font-size: 10px;
  }
  
  
  .social-icons .icon {
    color: #fff;
    font-size: 24px;
    margin-left: 10px;

  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      text-align: center;
    }
  
    h1, h2 {
      font-size: 40px;
    }
  
    .container {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    nav.nav a {
      width: 100%;
      box-sizing: border-box;
    }
  
    h1, h2 {
      font-size: 30px;
    }
  
    p, .contatti {
      font-size: 18px;
    }
  }


